.cover__overlay {
  width: 100%;
  height: 100%;

  text-decoration: none;

  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, 0.8);
  transition: background-color 1s;
}

