.cover__background{

  max-width: calc(100% - 96px); /*Убрать 96пх медиазапросом */
  height: calc((100vw - 96px) * 740 / 1184);
  max-height: 740px;

  margin: 0 auto;

  background-image: url(../../../images/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1279px) {
  .cover__background{
    max-width: 100%;
    height: calc(100vw* 640 / 1024);
  }
}

@media (max-width: 320px) {
  .cover__background{
    background-image: url(../../../images/cover__background_small.jpg);
  }
}
