.cover__title {

  max-width: 560px;

  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;

  color: #FFFFFF;

  margin: 0 0 32px 0;
}

@media (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;

    margin: 0 0 16px 0;
  }
}
